body{
    margin: 0;
    padding: 0;
    background-color: black;
    cursor: pointer;
  }
  
  .cursor1{
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: .1s;
    position: fixed;
  }
  
  .cursor2{
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: .15s;
    position: fixed;  
  }